/imtecho-android/.idea/
/imtecho-android/.gradle/
/imtecho-android/sewa-android/*.iml
/imtecho-android/sewa-android/*.gradle
/imtecho-android/sewa-android/*.externalNativeBuild
/imtecho-android/sewa-android/*.DS_Store
/imtecho-android/sewa-android/build/
/imtecho-android/sewa-android/app/build/
/imtecho-android/sewa-android/.nb-gradle
/imtecho-android/sewa-android/captures
/imtecho-android/local.properties
/imtecho-ui/node_modules/
/imtecho-ui/bower_components/
/imtecho-web/.idea
/imtecho-web/.idea/
/imtecho-web/target/
