<!-- <div class="modal-header">
    <h4 class="text">Date Correction</h4>
</div>
<div class="modal-body" style="overflow: inherit">
    <form class="inline-form" name="pregDateForm" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <validate for='pregDate' pattern-msg="Select Date">
                        <label for="pregDate" control-label style="width: auto;float: left">Pregnancy Registration
                            Date</label>
                        <input style="width: 60%" type="text" datepicker tabindex="8" name="pregDate" form-control
                            min-date="lmpDate" max-date="maxDate" ng-model="preg.pregDate" required>
                    </validate>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
</div> -->
