<style>
    .event-configuration-list {
        list-style: none;
        padding: 0;
        margin: 0;
        height: auto;
        border: 1px solid #dfdfdf;
    }

    .event-configuration-list li {
        padding: 8px 10px;
        border-bottom: 1px solid #dfdfdf;
        position: relative;
    }

    .event-configuration-list li:hover,
    .event-configuration-list li.current {
        background: #efefef;
        font-weight: 500;
        cursor: pointer;
        border-color: transparent;
    }

    .valid-feedback {
        top: -12px !important;
    }
</style>
<div class="modal-header">
    <h4>{{fieldName}} Events Configuration</h4>
</div>
<div class="modal-body">
    <div class="tab-pane fade show " id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-2 pr-0">
                <ul class="event-configuration-list">
                    <li class="menu-items" ng-class="{'current':event===currentEvent}"
                        ng-repeat="event in supportedEvents" ng-click="setCurrentEvent(event)">
                        <span class="d-flex justify-content-between align-items-center">
                            <span>{{event}}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <div class="row mb-15">
                    <div class="col-12">
                        <h5 class="pull-left">{{currentEvent}} configuration</h5>
                        <button type="button" class="btn btn-primary pull-right" ng-click="addAction()">
                            Add Action
                        </button>
                    </div>
                </div>
                <form name="eventsForm" aria-label="eventsForm" id="eventsForm" novalidate>
                    <div class="no-data-placeholder" ng-if="events[currentEvent].actions.length===0">
                        <h5>No Actions Configured</h5>
                    </div>
                    <div class="row" ng-if="events[currentEvent].actions.length">
                        <div class="col-12">
                            <div class="cst-table table-responsive" id="eventsDiv" style="overflow: visible;">
                                <table aria-describedby="table"
                                    class="table table-sm table-striped table-bordered filter-table header-fixed">
                                    <thead class="cst-thead">
                                        <tr>
                                            <th class="white-space-unset" id="srNo">#</th>
                                            <th class="white-space-unset" id="type">Type</th>
                                            <th class="white-space-unset" id="value">Value</th>
                                            <th class="white-space-unset" id="continueIfFail">Continue If Fail?</th>
                                            <th class="white-space-unset" id="actions">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody dnd-list="events[currentEvent].actions" class="cst-tbody">
                                        <tr ng-repeat="action in events[currentEvent].actions" dnd-draggable="action" dnd-moved="events[currentEvent].actions.splice($index,1)">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <div class="form-group">
                                                    <validate for='type{{$index}}' required-msg="Please select a value">
                                                        <select class="form-control cst-form-control" form-control
                                                            ng-model="action.type"
                                                            ng-change="actionTypeChanged($index,action.type)"
                                                            name="type{{$index}}" id="type{{$index}}" required>
                                                            <option value="" selected>--Select--
                                                            </option>
                                                            <option value="LOAD_FIELD">Load Field</option>
                                                            <option value="RESET_FIELD">Reset Field</option>
                                                            <option value="FORM_METHOD">Call Form Method</option>
                                                            <option value="FORM_VARIABLE_SETTER">
                                                                Set Form Variable
                                                            </option>
                                                            <option value="FORM_QUERY">Call Form Query</option>
                                                            <option value="FORM_API">Call Form API</option>
                                                        </select>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </td>
                                            <td ng-if="action.type==='LOAD_FIELD' || action.type==='RESET_FIELD'">
                                                <div class="form-group">
                                                    <validate for='field{{$index}}' required-msg="Select Field">
                                                        <select class="form-control cst-form-control" form-control
                                                            name="field{{$index}}" id="field{{$index}}"
                                                            ng-model="action.value" required
                                                            chosen-directive="formFields"
                                                            ng-options="field.fieldName as field.fieldName + ' | ' + field.fieldType for field in formFields">
                                                        </select>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </td>
                                            <td ng-if="action.type==='FORM_METHOD'">
                                                <div class="form-group">
                                                    <validate for='formMethod{{$index}}' required-msg="Select Method">
                                                        <select class="form-control cst-form-control" form-control
                                                            name="formMethod{{$index}}" id="formMethod{{$index}}"
                                                            ng-model="action.value" required
                                                            chosen-directive="formVm.formMethods"
                                                            ng-options="method.value as method.value for method in formVm.formMethods">
                                                        </select>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </td>
                                            <td ng-if="action.type==='FORM_VARIABLE_SETTER'">
                                                <div class="form-group">
                                                    <validate for='formVariable{{$index}}' required-msg="Select Method">
                                                        <select class="form-control cst-form-control" form-control
                                                            name="formVariable{{$index}}" id="formVariable{{$index}}"
                                                            ng-model="action.value" required
                                                            chosen-directive="formVm.formVariables"
                                                            ng-options="variable.value as variable.value for variable in formVm.formVariables">
                                                        </select>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </td>
                                            <td ng-if="action.type==='FORM_QUERY'">
                                                <div class="form-group">
                                                    <validate for='formQuery{{$index}}' required-msg="Select Query">
                                                        <select class="form-control cst-form-control" form-control
                                                            name="formQuery{{$index}}" id="formQuery{{$index}}"
                                                            ng-model="action.value" required
                                                            chosen-directive="formVm.formQueries"
                                                            ng-options="query.value as query.value for query in formVm.formQueries">
                                                        </select>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </td>
                                            <td ng-if="action.type==='FORM_API'">
                                                <div class="form-group">
                                                    <validate for='formApi{{$index}}' required-msg="Select API">
                                                        <select class="form-control cst-form-control" form-control
                                                            name="formApi{{$index}}" id="formApi{{$index}}"
                                                            ng-model="action.value" required
                                                            chosen-directive="formVm.formApi"
                                                            ng-options="api.value for api in formVm.formApis">
                                                        </select>
                                                        <placeholder></placeholder>
                                                    </validate>
                                                </div>
                                            </td>
                                            <td ng-if="action.type==null">N.A.</td>
                                            <td>
                                                <input name="continueIfFail{{$index}}" form-control type="checkbox"
                                                    ng-model="action.continueIfFail">
                                            </td>
                                            <td>
                                                <em style="cursor: pointer;color: red;" class="fa fa-lg fa-times-circle"
                                                    ng-click="delete($index)"></em>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>