<head>
    <link rel="stylesheet" type="text/css" href="app/training/dashboard/views/lms-dashboard.css">
</head>
<div class="content-wrapper mt-3">
    <div class="container-fluid">
        <div ng-show="lms.isObjectEmpty(lms.headerData)" class="row mb-3">
            <div class="col-12 ">
                <h3 ng-show="lms.courseSelected !== null" class="dashboard-header">{{lms.courseSelected.courseName}}
                </h3>
                <div ng-repeat="data in lms.headerSectionDataForCol2" class="box-wrapper" style="cursor: pointer;"
                    ng-click="lms.onHeaderSelection(data.key)">
                    <div ng-class="data.color">
                        <div class="row align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 text-gray-800">{{data.value}}</div>
                                <div class="text-xs font-weight-bold text-grey-500 mb-1">{{data.key}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-xl-7 col-lg-6 col-12 ">
                        <div class="card lms_cst-card" style="min-height: 340px;">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="col-4">
                                    Course Engagement
                                </div>
                                <div ng-show="lms.courseEngagementData.length" class="col-8 nav-item  dropdown">
                                    <a class="nav-link lms_cst-dropdown btn-sm dropdown-toggle float-right cursor-ptr"
                                        id="navbarScrollingDropdown" role="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                        {{lms.selectedCourse.roleName}}
                                    </a>
                                    <ul class="dropdown-menu cursor-ptr" aria-labelledby="navbarScrollingDropdown">
                                        <li ng-repeat="course in lms.courseEngagementData">
                                            <a class="dropdown-item" ng-click="lms.onRoleClick(course)">
                                                {{course.roleName}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="no-data-placeholder" ng-show="!lms.courseEngagementData.length">
                                            <h5>No Record Found!</h5>
                                        </div>
                                        <div ng-show="lms.courseEngagementData.length" class="pie-chart-container">
                                            <canvas id="pie" class="chart chart-pie" chart-data="lms.pieChartData"
                                                chart-labels="lms.pieChartLabels" chart-options="lms.pieChartOptions"
                                                chart-colors="lms.pieChartColors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-12">
                        <div class="card lms_cst-card" style="min-height: 340px;" id="user-activity">
                            <div class="card-header  d-flex justify-content-between align-items-center">
                                Leaderboard
                                <ul id="myTabs" class="nav nav-tabs" role="tablist" data-tabs="tabs">
                                    <li class="nav-item active top-score">
                                        <a class="nav-link active cursor-ptr" data-toggle="tab" data-target="#user"
                                            role="tab">
                                            Top Scorer
                                        </a>
                                    </li>
                                    <li class="nav-item completor">
                                        <a class="nav-link cursor-ptr" data-toggle="tab" data-target="#bounce"
                                            role="tab">
                                            Fastest Course Completor
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body pt-0 pb-0">
                                <div class="">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active show" id="user">
                                            <ul class="daily-task">
                                                <li>
                                                    <div class="">
                                                        <h6>Participant Name</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0">Average Score</p>
                                                    </div>
                                                </li>
                                                <li ng-repeat="scorer in lms.headerData.topScorerData | limitTo:5"
                                                    ng-class="$index % 2 === 0 ? 'blue' : 'pink'">
                                                    <div class="text-detail" style="max-width: 70%;">
                                                        <h6>{{scorer.userName}}</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div class="progress">
                                                            <div class="bar" ng-style="{ 'width': scorer.score + '%' }">
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">{{scorer.score}}%</p>
                                                    </div>
                                                </li>
                                                <div class="no-data-placeholder"
                                                    ng-show="lms.headerData.topScorerData.length === 0">
                                                    <p>
                                                        NO RECORD FOUND! </p>
                                                </div>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="bounce">
                                            <ul class="daily-task task-completor">
                                                <li>
                                                    <div class="">
                                                        <h6>Participant Name</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">

                                                        <p class="mb-0">Spent Time / Total time to complete the course
                                                        </p>
                                                        <p class="mb-0 ml-2">
                                                            <em data-toggle="tooltip"
                                                                uib-tooltip-html="lms.tooltipContent"
                                                                class="fa fa-info-circle"></em>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li ng-repeat="courseData in lms.headerData.courseCompletorData | limitTo:5"
                                                    ng-class="$index % 2 === 0 ? 'blue' : 'pink'">
                                                    <div class="text-detail" style="max-width: 70%;">
                                                        <h6>{{courseData.userName}}</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0">{{courseData.spentTime}} /
                                                            {{courseData.finishedIn}}</p>
                                                        <p class="mb-0"></p>
                                                    </div>
                                                </li>
                                                <div class="no-data-placeholder"
                                                    ng-show="lms.headerData.courseCompletorData.length === 0">
                                                    <p>
                                                        NO RECORD FOUND
                                                    </p>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-6 col-12">
                        <div class="card lms_cst-card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="col-4">
                                    Comprehension Effectiveness
                                </div>
                                <div class="col-8 nav-item dropdown">
                                    <a class="nav-link lms_cst-dropdown btn-sm dropdown-toggle float-right cursor-ptr"
                                        id="navbarScrollingDropdown" role="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                        {{lms.selectedQuiz.quizName}}
                                    </a>
                                    <ul class="dropdown-menu cursor-ptr" aria-labelledby="navbarScrollingDropdown">
                                        <li ng-repeat="quiz in lms.quizList">
                                            <a class="dropdown-item"
                                                ng-click="lms.comprehensionEffectivenessSelected(quiz.quizId)">
                                                {{quiz.quizName}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="no-data-placeholder" ng-show="!lms.barChartData.length">
                                    <h5>No Record Found!</h5>
                                </div>
                                <div class="row">
                                    <div ng-show="lms.barChartData.length" class="col-10 offset-md-1">
                                        <canvas id="base" height="100px" class="chart-horizontal-bar"
                                            chart-data="lms.barChartData" chart-labels="lms.barChartLabels"
                                            chart-colors="lms.barChartColors" chart-options="lms.barChartOptions">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-12">
                        <div class="card lms_cst-card" style="min-height: 340px;" id="user-activity">
                            <div class="card-header  d-flex justify-content-between align-items-center">
                                Course Statistics
                                <ul id="myTabs" class="nav nav-tabs" role="tablist" data-tabs="tabs">
                                    <li class="nav-item active top-score">
                                        <a class="nav-link active cursor-ptr" data-toggle="tab"
                                            data-target="#popular_modules" role="tab">
                                            Popular Modules
                                        </a>
                                    </li>
                                    <li class="nav-item completor">
                                        <a class="nav-link cursor-ptr" data-toggle="tab" data-target="#popular_lessons"
                                            role="tab">
                                            Popular Lessons
                                        </a>
                                    </li>
                                    <li class="nav-item completor">
                                        <a class="nav-link cursor-ptr" data-toggle="tab" data-target="#popular_quizzes"
                                            role="tab">
                                            Popular Quizzes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body pt-0 pb-0">
                                <div class="">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active show" id="popular_modules">
                                            <ul class="daily-task">
                                                <li>
                                                    <div class="">
                                                        <h6>Module Name</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">

                                                        <p class="mb-0">No. of times opened / Hours Spent</p>
                                                    </div>
                                                </li>
                                                <li ng-repeat="module in lms.headerData.modules | limitTo:5"
                                                    ng-class="$index % 2 === 0 ? 'blue' : 'pink'">
                                                    <div class="text-detail" style="max-width: 70%;">
                                                        <h6>{{module.moduleName}}</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0">{{module.frequency}} /
                                                            {{module.hoursSpent|emptylabel}}</p>
                                                        <p class="mb-0"></p>
                                                    </div>
                                                </li>
                                                <div class="no-data-placeholder"
                                                    ng-show="lms.headerData.modules.length === 0">
                                                    <p>
                                                        NO RECORD FOUND
                                                    </p>
                                                </div>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="popular_lessons">
                                            <ul class="daily-task task-completor">
                                                <li>
                                                    <div class="">
                                                        <h6>Lesson Name</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">

                                                        <p class="mb-0">No. of times opened / Hours Spent</p>
                                                    </div>
                                                </li>
                                                <li ng-repeat="lesson in lms.headerData.lessons | limitTo:5"
                                                    ng-class="$index % 2 === 0 ? 'blue' : 'pink'">
                                                    <div class="text-detail" style="max-width: 70%;">
                                                        <h6>{{lesson.lessonName}}</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0">{{lesson.frequency}} /
                                                            {{lesson.hoursSpent|emptylabel}}</p>
                                                        <p class="mb-0"></p>
                                                    </div>
                                                </li>
                                                <div class="no-data-placeholder"
                                                    ng-show="lms.headerData.lessons.length === 0">
                                                    <p>
                                                        NO RECORD FOUND
                                                    </p>
                                                </div>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="popular_quizzes">
                                            <ul class="daily-task task-completor">
                                                <li>
                                                    <div class="">
                                                        <h6>Quiz Name</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">

                                                        <p class="mb-0">No. of times opened</p>
                                                    </div>
                                                </li>
                                                <li ng-repeat="quiz in lms.headerData.quizzes | limitTo:5"
                                                    ng-class="$index % 2 === 0 ? 'blue' : 'pink'">
                                                    <div class="text-detail" style="max-width: 70%;">
                                                        <h6>{{quiz.quizName}}</h6>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0">{{quiz.frequency}}</p>
                                                        <p class="mb-0"></p>
                                                    </div>
                                                </li>
                                                <div class="no-data-placeholder"
                                                    ng-show="lms.headerData.quizzes.length === 0">
                                                    <p>
                                                        NO RECORD FOUND
                                                    </p>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for widgets -->
<div class="modal fade" id="modules_details" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text">{{lms.key}} Details</h4>
            </div>
            <div ng-if="lms.headerData.modules.length===0">
                <div class="no-data-placeholder">
                    <h5>No Record Found!</h5>
                </div>
            </div>
            <div class="modal-body" ng-if="lms.headerData.modules.length">
                <div class="mb-15 cst-table table-responsive modal-table" style="max-height: 220px;" id="modules">
                    <table aria-describedby="modules" class="table table-sm table-striped table-bordered header-fixed">
                        <thead>
                            <tr>
                                <th class="white-space-unset" id="sr_no">Sr No.</th>
                                <th class="white-space-unset" id="module_name">Module Name</th>
                                <th class="white-space-unset" id="frequency">No. of times opened</th>
                                <th class="white-space-unset" id="hour_spent">Hours Spent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="module in lms.headerData.modules">
                                <td>
                                    {{$index +1 }}
                                </td>
                                <td>
                                    <a href="#"
                                        ng-class="lms.selectedComponentForLineChart===module.moduleName ? 'component-selected cursor-ptr':'cursor-ptr'"
                                        ng-click="lms.fetchChartDetails(module,lms.key,'All Time')">
                                        {{module.moduleName }}
                                    </a>
                                </td>
                                <td>{{module.frequency}} </td>
                                <td>{{module.hoursSpent|emptylabel}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mb-15">
                    <div class="col-12">
                        <div ng-if="lms.key==='Modules' && lms.selectedModule">
                            <div>
                                <a class="nav-link lms_cst-dropdown btn-sm dropdown-toggle float-right cursor-ptr"
                                    id="moduleChartFilter" role="button" data-toggle="dropdown" aria-expanded="false">
                                    {{lms.selectedTimeFilter}}
                                </a>
                                <ul class="dropdown-menu cursor-ptr" aria-labelledby="moduleChartFilter">
                                    <li ng-repeat="time in lms.timeFilters">
                                        <a class="dropdown-item"
                                            ng-click="lms.fetchChartDetails(lms.selectedModule,lms.key,time)">
                                            {{time}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length && lms.key === 'Modules' && lms.selectedModule">
                    <div class="line-chart-container">
                        <canvas id="line" class="chart chart-line" chart-data="lms.lineChartData"
                            chart-labels="lms.labels" chart-options="lms.lineOptions">
                        </canvas>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length===0 && lms.selectedModule===null">
                    <div class="no-data-placeholder">
                        <h5>Click on the module name for chart</h5>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length===0 && lms.selectedModule!==null">
                    <div class="no-data-placeholder">
                        <h5>No data available for selected time period</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" ng-click="lms.modalClose(lms.key)">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lessons_details" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text">{{lms.key}} Details</h4>
            </div>
            <div ng-if="lms.headerData.lessons.length===0">
                <div class="no-data-placeholder">
                    <h5>No Record Found!</h5>
                </div>
            </div>
            <div class="modal-body" ng-if="lms.headerData.lessons.length">
                <div class="mb-15 cst-table table-responsive modal-table" style="max-height: 220px;" id="lessons">
                    <table aria-describedby="lessons" class="table table-sm table-striped table-bordered header-fixed">
                        <thead>
                            <tr>
                                <th class="white-space-unset" id="sr_no">Sr No.</th>
                                <th class="white-space-unset" id="module_name">Lesson Name</th>
                                <th class="white-space-unset" id="frequency">No. of times opened</th>
                                <th class="white-space-unset" id="hour_spent">Hours Spent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesson in lms.headerData.lessons">
                                <td>
                                    {{$index +1 }}
                                </td>
                                <td>
                                    <a href="#"
                                        ng-class="lms.selectedComponentForLineChart===lesson.lessonName ? 'component-selected cursor-ptr':'cursor-ptr'"
                                        ng-click="lms.fetchChartDetails(lesson,lms.key,'All Time')">
                                        {{lesson.lessonName }}
                                    </a>
                                </td>
                                <td>{{lesson.frequency}} </td>
                                <td>{{lesson.hoursSpent|emptylabel}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mb-15">
                    <div class="col-12">
                        <div ng-if="lms.key==='Lessons' && lms.selectedLesson">
                            <div>
                                <a class="nav-link lms_cst-dropdown btn-sm dropdown-toggle float-right cursor-ptr"
                                    id="lessonChartFilter" role="button" data-toggle="dropdown" aria-expanded="false">
                                    {{lms.selectedTimeFilter}}
                                </a>
                                <ul class="dropdown-menu cursor-ptr" aria-labelledby="lessonChartFilter">
                                    <li ng-repeat="time in lms.timeFilters">
                                        <a class="dropdown-item"
                                            ng-click="lms.fetchChartDetails(lms.selectedLesson,lms.key,time)">
                                            {{time}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length && lms.key === 'Lessons' && lms.selectedLesson">
                    <div class="line-chart-container">
                        <canvas id="line" class="chart chart-line" chart-data="lms.lineChartData"
                            chart-labels="lms.labels" chart-options="lms.lineOptions">
                        </canvas>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length===0 && lms.selectedLesson===null">
                    <div class="no-data-placeholder">
                        <h5>Click on the lesson name for chart</h5>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length===0 && lms.selectedLesson!==null">
                    <div class="no-data-placeholder">
                        <h5>No data available for selected time period</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" ng-click="lms.modalClose(lms.key)">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="quizzes_details" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text">{{lms.key}} Details</h4>
            </div>
            <div ng-if="lms.headerData.quizzes.length===0">
                <div class="no-data-placeholder">
                    <h5>No Record Found!</h5>
                </div>
            </div>
            <div class="modal-body" ng-if="lms.headerData.quizzes.length">
                <div class="mb-15 cst-table table-responsive modal-table" style="max-height: 220px;" id="quiz">
                    <table aria-describedby="quiz"
                        class="table table-sm table-striped table-bordered filter-table table-fixed header-fixed"
                        style="table-layout: auto">
                        <thead>
                            <tr>
                                <th class="white-space-unset" id="sr_no">Sr No.</th>
                                <th class="white-space-unset" id="quiz_name">Quiz Name</th>
                                <th class="white-space-unset" id="users_attempted">Users Attempted</th>
                                <th class="white-space-unset" id="users_passed">Users Passed in first attempt</th>
                                <th class="white-space-unset" id="users_failed">Users Failed in first attempt</th>
                                <th class="white-space-unset" id="attempts">Total Attempts</th>
                                <th class="white-space-unset" id="avg_score">Average score in first attempt (%)</th>
                            </tr>
                        </thead>
                        <tbody class="cst-tbody">
                            <tr ng-repeat="quiz in lms.headerData.quizzes">
                                <td>
                                    {{$index +1 }}
                                </td>
                                <td>
                                    <a href="#"
                                        ng-class="lms.selectedComponentForLineChart===quiz.quizName ? 'component-selected cursor-ptr':'cursor-ptr'"
                                        ng-click="lms.fetchChartDetails(quiz,lms.key,'All Time')">
                                        {{quiz.quizName }}
                                    </a>
                                </td>
                                <td>{{quiz.totalUsersAttempted}}</td>
                                <td>{{quiz.usersPassed}}</td>
                                <td>{{quiz.usersFailed}}</td>
                                <td>{{quiz.frequency}} </td>
                                <td ng-if="quiz.firstAttemptAvgScore>=80">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            ng-style="{'width':quiz.firstAttemptAvgScore+'%'}"
                                            aria-valuenow="{{quiz.firstAttemptAvgScore}}" aria-valuemin="0"
                                            aria-valuemax="100">{{quiz.firstAttemptAvgScore}}%</div>
                                    </div>
                                </td>
                                <td ng-if="quiz.firstAttemptAvgScore >= 40 && quiz.firstAttemptAvgScore < 80">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                            ng-style="{'width':quiz.firstAttemptAvgScore+'%'}"
                                            aria-valuenow="{{quiz.firstAttemptAvgScore}}" aria-valuemin="0"
                                            aria-valuemax="100">{{quiz.firstAttemptAvgScore}}%</div>
                                    </div>
                                </td>
                                <td ng-if="quiz.firstAttemptAvgScore < 40">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            ng-style="{'width':quiz.firstAttemptAvgScore+'%'}"
                                            aria-valuenow="{{quiz.firstAttemptAvgScore}}" aria-valuemin="0"
                                            aria-valuemax="100">{{quiz.firstAttemptAvgScore}}%</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mb-15">
                    <div class="col-12">
                        <div ng-if="lms.key==='Quizzes' && lms.selectedQuiz">
                            <div>
                                <a class="nav-link lms_cst-dropdown btn-sm dropdown-toggle float-right cursor-ptr"
                                    id="quizChartFilter" role="button" data-toggle="dropdown" aria-expanded="false">
                                    {{lms.selectedTimeFilter}}
                                </a>
                                <ul class="dropdown-menu cursor-ptr" aria-labelledby="quizChartFilter">
                                    <li ng-repeat="time in lms.timeFilters">
                                        <a class="dropdown-item"
                                            ng-click="lms.fetchChartDetails(lms.selectedQuiz,lms.key,time)">
                                            {{time}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length && lms.key === 'Quizzes' && lms.selectedQuiz">
                    <div class="line-chart-container">
                        <canvas id="line" class="chart chart-line" chart-data="lms.lineChartData"
                            chart-labels="lms.labels" chart-series="lms.quizSeries" chart-options="lms.quizLineOptions"
                            chart-colors="lms.pieChartColors">
                        </canvas>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length===0 && lms.selectedQuiz===null">
                    <div class="no-data-placeholder">
                        <h5>Click on the quiz name for chart</h5>
                    </div>
                </div>
                <div ng-if="lms.lineChartData.length===0 && lms.selectedQuiz!==null">
                    <div class="no-data-placeholder">
                        <h5>No data available for selected time period</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" ng-click="lms.modalClose(lms.key)">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="enrolled_details" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text">{{lms.key}} Details</h4>
            </div>
            <div ng-if="lms.headerData.enrolled.length===0">
                <div class="no-data-placeholder">
                    <h5>No Record Found!</h5>
                </div>
            </div>
            <div class="modal-body" ng-if="lms.headerData.enrolled.length">
                <div class="cst-table table-responsive table-set-height" style="overflow: auto;" id="enrolled-scroll">
                    <table aria-describedby="enrolled" class="table table-sm table-striped table-bordered header-fixed">
                        <thead>
                            <tr>
                                <th class="white-space-unset" id="sr_no">Sr No.</th>
                                <th class="white-space-unset" id="userName">Participant Name</th>
                                <th class="white-space-unset" id="roleName">Role Name</th>
                                <th class="white-space-unset" id="courseStart">Course Started On</th>
                                <th class="white-space-unset" id="courseEnd">Course Completed On</th>
                                <th class="white-space-unset" id="courseStatus">Course Status</th>
                            </tr>
                        </thead>
                        <tbody infinite-scroll-distance="0" infinite-scroll='lms.retrieveEnrolledList()'
                            infinite-scroll-container='"#enrolled-scroll"' infinite-scroll-immediate-check="true">
                            <tr ng-repeat="participant in lms.headerData.enrolled">
                                <td>
                                    {{$index +1 }}
                                </td>
                                <td>{{participant.userName }}</td>
                                <td>{{participant.roleName}} </td>
                                <td>{{participant.courseStartedOn ? participant.courseStartedOn : '-'}} </td>
                                <td>{{participant.courseStatus === 'COMPLETED' ? participant.courseEndedOn ?
                                    participant.courseEndedOn:'-' :
                                    '-' }} </td>
                                <td ng-if="participant.courseStatus==='COMPLETED'">
                                    <div class="status-button status-success">Completed</div>
                                </td>
                                <td ng-if="participant.courseStatus==='IN_PROGRESS'">
                                    <div class="status-button status-progress">In Progress</div>
                                </td>
                                <td ng-if="participant.courseStatus==='NOT_YET_STARTED'">
                                    <div class="status-button status-not-started">Not yet Started</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" ng-click="lms.modalClose(lms.key)">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="watch_hour_details" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text">{{lms.key}} Details</h4>
            </div>
            <div ng-if="lms.headerData.watchHourData.length===0">
                <div class="no-data-placeholder">
                    <h5>No Record Found!</h5>
                </div>
            </div>
            <div class="modal-body" ng-if="lms.headerData.watchHourData.length">
                <div class="mb-15 cst-table table-responsive table-set-height" id="watchHour">
                    <table aria-describedby="watchHour"
                        class="table table-sm table-striped table-bordered header-fixed">
                        <thead>
                            <tr>
                                <th class="white-space-unset" id="sr_no">Sr No.</th>
                                <th class="white-space-unset" id="userName">User Name</th>
                                <th class="white-space-unset" id="roleName">Role Name</th>
                                <th class="white-space-unset" id="courseStatus">Hours spent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in lms.headerData.watchHourData">
                                <td>
                                    {{$index +1 }}
                                </td>
                                <td>{{obj.userName}}</td>
                                <td>{{obj.roleName}} </td>
                                <td> {{obj.timeSpent ? obj.timeSpent : '00:00:00'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" ng-click="lms.modalClose(lms.key)">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->
<div class="filter-div small-div">
    <span style="left:-95px" class="filter-toggle" ng-click="lms.toggleFilter()">Search Course</span>
    <div class="row">
        <div class="col-12">
            <h5 class="filter-div-title">Search Course</h5>
        </div>
    </div>
    <div class="filter-div-body">
        <form role="form" name="lms.searchForm" id="searchForm" novalidate>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <validate for='searchCourseId' required-msg="Select a course">
                            <label control-label>Select Course</label>
                            <select chosen-directive="lms.courseList" name="searchCourseId"
                                class="form-control cst-form-control" form-control ng-model='lms.searchCourseId'
                                required ng-options="course.courseId as course.courseName for course in lms.courseList">
                                <option value=''>--Select--</option>
                            </select>
                            <placeholder></placeholder>
                        </validate>
                    </div>
                    <div class="form-group">
                        <location-directive ng-model="lms.selectedLocationId" selected-location="lms.selectedLocation"
                            template-type="'inline'" required-upto-level="1" 
                            fetch-according-to-user-aoi="true">
                        </location-directive>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="form-group float-right">
                        <div class="btn btn-primary" ng-click="lms.retrieveDashboardByCourseId()">
                            Search</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>