<!-- <div class="container-fluid">
    <div class="row" style="width:100%"
        ng-if="ctrl.memberData === undefined || ctrl.memberData.length < 1">
        <div class="col-sm-12 col-xl-12">
            <div class="no-data-placeholder">
                <h5>No Records Found</h5>
            </div>
        </div>
    </div>
    <div class="row mt-2" ng-if="ctrl.memberData || ctrl.familyDetData">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" ng-click="ctrl.generateExcel('FAMILY')"
                    ng-if="ctrl.familyDetData && ctrl.familyDetData.length > 0">
                Family Contact Details
            </button>
            <button type="submit" class="btn btn-primary" ng-click="ctrl.generateExcel('MEMBER')"
                    ng-if="ctrl.memberData && ctrl.memberData.length > 0">
                Death Person Details
            </button>
        </div>
    </div>
    <!-- FILTER -->
    <!-- <div class="filter-div active medium-div">
        <span class="filter-toggle" ng-click="ctrl.toggleFilter()">Filter</span>
        <div class="row">
            <div class="col-12">
                <h5 class="filter-div-title">Search Filter</h5>
            </div>
        </div>
        <div class="filter-div-body">
            <form role="form" class="inline-form" name="ctrl.filterForm" id="filterForm" novalidate>
                <div class="row">
                    <div class="col-12">
                        <location-directive ng-model="ctrl.selectedLocationId" selected-location="ctrl.selectedLocation"
                            template-type="'inline'" fetch-according-to-user-aoi="true"
                            required-upto-level="ctrl.requiredLocationLevel">
                        </location-directive>
                        <div class="form-group">
                            <validate for="from_date" required-msg="Enter from date">
                                <label style="float: left;" for="from_date" control-label>From Date</label>
                                <input name="from_date" type="text" datepicker class="disabled-input"
                                    id="from_date" ng-model="ctrl.fromDate" form-control required>
                                <placeholder></placeholder>
                            </validate>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <validate for="to_date" required-msg="Enter to date">
                                <label style="float: left;" for="to_date" control-label>To Date</label>
                                <input name="to_date" type="text" datepicker class="disabled-input" id="to_date"
                                    ng-model="ctrl.toDate" min-date-month="ctrl.fromDate"
                                    form-control ng-disabled="!ctrl.fromDate" required>
                                <placeholder></placeholder>
                            </validate>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="form-group text-right">
                            <button class="btn btn-secondary close-filter" ng-click="ctrl.toggleFilter()">Close</button>
                            <button class="btn btn-primary search-filter" ng-click="ctrl.onSearch()">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> --> -->