<div class="modal-header">
    <h4 class="text">Configure Form CSS</h4>
</div>
<div class="modal-body">
    <div style="resize: vertical;" ui-ace="{
        mode: 'css',
        require: ['ace/ext/language_tools'],
        advanced: {
            enableSnippets: true,
            enableBasicAutocompletion: true,
            enableLiveAutocompletion: true
        }
    }" ng-model="css"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>